.suggestions{
    margin-top: 30px;
    margin-right: 20px;
}
.suggestions_title{
    color: grey;
    font-weight: bold;
    margin-top: 10px;
}
.username_left{
    display: flex;
    align-items: center;
    
}
.username_info{
    display: flex;
    flex-direction: column;
    
}
.relation{
    color: grey;
    font-size: 12px;
}
.suggestions_username{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.follow_button{
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border:0;

}
.follow_button:hover{
    color: grey;
    cursor: pointer;
}
.username{
    font-weight: 600;
    font-size: 14px;
}
.avatar{
    margin-right: 3px;
}
.switchtitle{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
}
.switchfoot{
    margin-left: 50px;
    color: blue;
    cursor: pointer;
}
@media (max-width: 900px) {
   .suggestions{
    display: none;
   }
}
.switchbtn{
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border:0;
}
